@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 375px) {
  .container {
    flex-direction: column;
    align-items: start;
  }
}

.adPhoto {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  height: 787px;
  padding-top: 296px;
  padding-bottom: 296px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: right;
}
@media (max-width: 375px) {
  .adPhoto {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    background-size: cover;
    padding: 144px 14px;
    height: 396px;
  }
}

.adRight {
  display: block;
  width: 100%;
  color: #650300;
  align-items: flex-end;
}
.adRight p {
  font-size: 36px;
  line-height: 54px;
  font-weight: normal;
}
@media (max-width: 375px) {
  .adRight p {
    font-size: 16px;
    line-height: 24px;
  }
}
.adRight h2 {
  font-size: 64px;
  line-height: 96px;
  font-weight: bold;
  margin-bottom: 4px;
}
.adRight a {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #aa0601;
  width: 104px;
  padding: 6px 12px;
}

.intro {
  padding: 80px 12px;
  background-color: #fbf2f2;
  color: #650300;
}
.intro h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .intro ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .intro {
    padding: 40px 14px;
  }
  .intro ul {
    flex-direction: column;
  }
  .intro ul li {
    width: 100%;
    margin-bottom: 24px;
  }
  .intro ul li:nth-child(4) {
    margin-bottom: 0;
  }
}

.cards {
  width: 100%;
}
.cards li {
  width: calc((100% - 72px) / 4);
}
@media (max-width: 768px) {
  .cards li {
    width: calc((100% - 24px) / 2);
  }
}
.cards span {
  width: 100px;
  height: 100px;
  font-size: 84px;
  margin-bottom: 16px;
}
.cards h3 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
  font-weight: bold;
}
.cards p {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: normal;
}

.prodjectList {
  padding: 80px 12px;
  color: #650300;
}
.prodjectList h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .prodjectList {
    padding: 40px 14px;
  }
}

.productCards h3 {
  font-size: 48px;
  line-height: 72px;
  color: #aa0601;
  font-style: italic;
  font-weight: 900;
}
.productCards li {
  width: calc((100% - 48px) / 3);
  text-align: center;
}
.productCards img {
  width: 100%;
  margin-bottom: 8px;
}
@media (max-width: 1200px) {
  .productCards ul {
    flex-direction: column;
  }
  .productCards li {
    width: 336px;
  }
}
@media (max-width: 768px) {
  .productCards ul {
    flex-direction: column;
  }
  .productCards li {
    width: 336px;
  }
}
@media (max-width: 375px) {
  .productCards ul {
    flex-direction: column;
  }
  .productCards li {
    width: 100%;
    margin-bottom: 24px;
  }
  .productCards li:nth-child(3) {
    margin-bottom: 0;
  }
  .productCards img {
    max-width: 348px;
  }
}

.crossover {
  padding: 80px 12px;
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}
.crossover h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .crossover {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
    background-size: cover;
    padding: 40px 14px;
  }
}

.crossoverCards h3 {
  background-color: #ffffff;
  font-size: 48px;
  line-height: 72px;
  color: #aa0601;
  font-style: italic;
  font-weight: 900;
}
@media (max-width: 768px) {
  .crossoverCards ul {
    flex-direction: column;
  }
  .crossoverCards ul li {
    margin-bottom: 24px;
  }
}
@media (max-width: 375px) {
  .crossoverCards ul {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .crossoverCards ul li {
    margin-bottom: 24px;
  }
}
.crossoverCards ul li img {
  width: 100%;
}
@media (max-width: 375px) {
  .crossoverCards ul li:nth-child(2) {
    margin-bottom: 0;
  }
}

.rwdImg {
  display: none;
}

.feedback {
  padding: 80px 12px;
}
.feedback h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  color: #650300;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .feedback {
    padding: 40px 14px;
  }
}

@media (max-width: 1200px) {
  .fbCards ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .fbCards ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .fbCards ul {
    flex-direction: column;
  }
}
.fbCards li {
  width: calc((100% - 72px) / 4);
}
@media (max-width: 1200px) {
  .fbCards li {
    width: calc((100% - 24px) / 2);
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .fbCards li {
    width: calc((100% - 24px) / 2);
    margin-bottom: 24px;
  }
}
@media (max-width: 375px) {
  .fbCards li {
    width: 100%;
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .fbCards li:nth-child(1) .customer p:nth-child(2) {
    margin-bottom: 96px;
  }
}
@media (max-width: 375px) {
  .fbCards li:nth-child(4) {
    margin-bottom: 0;
  }
}
.fbCards img {
  width: 100%;
}

.name {
  margin-bottom: 8px;
  font-weight: 500;
}

.customer {
  border: 1px solid #dee2e6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 16px;
  line-height: 24px;
}
.customer p:nth-child(2) {
  margin-bottom: 72px;
}

.date {
  line-height: 21px;
  font-size: 14px;
  color: #707070;
}

.contact {
  padding: 80px 12px;
  background: #fbf2f2;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
}
.contact h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  color: #650300;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .contact {
    padding: 40px 14px;
  }
}

.form {
  width: 636px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .form {
    width: 576px;
  }
}
@media (max-width: 600px) {
  .form {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .form {
    width: 100%;
  }
}
.form p {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .form p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .customerForm {
    width: 576px;
  }
}
@media (max-width: 600px) {
  .customerForm {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .customerForm {
    width: 100%;
  }
}
.customerForm input {
  /*為什麼寬度不能設100%*/
  width: 636px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .customerForm input {
    width: 576px;
  }
}
@media (max-width: 600px) {
  .customerForm input {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .customerForm input {
    width: 100%;
  }
}
.customerForm p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
.customerForm input:nth-child(8) {
  height: 136px;
}
.customerForm button {
  margin: 0 auto;
  background: #aa0601;
  color: #ffffff;
  line-height: 24px;
  padding: 16px 176px;
  border: 0;
}
@media (max-width: 768px) {
  .customerForm button {
    padding: 16px 136px;
  }
}
@media (max-width: 375px) {
  .customerForm button {
    width: 100%;
    padding: 16px;
  }
}

.checkPart {
  margin-bottom: 48px;
}
.checkPart input {
  width: 24px;
  height: 24px;
  margin: 0 4px 0 0;
}
@media (max-width: 375px) {
  .checkPart input {
    max-width: 24px;
  }
}
@media (max-width: 375px) {
  .checkPart {
    margin-bottom: 24px;
    align-items: start;
  }
}

.checkP {
  /*這個margin-bottom沒辦法設0*/
  margin-bottom: 0 !important;
  line-height: 24px;
}

textarea {
  margin-bottom: 16px;
}
@media (max-width: 600px) {
  textarea {
    width: 100%;
  }
}
@media (max-width: 375px) {
  textarea {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .rwdH2 h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .pcImg {
    display: none;
  }
  .rwdImg {
    display: block;
    max-width: 348px;
  }
}
.header {
  background-color: #aa0601;
}
.header .container {
  padding: 80px 12px;
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .header .container {
    max-width: 696px;
    flex-direction: row;
  }
}
@media (max-width: 600px) {
  .header .container {
    padding: 0;
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 375px) {
  .header .container {
    padding: 0;
    flex-direction: column;
    align-items: start;
  }
}

.nav {
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav ul li {
  margin-left: 64px;
  font-size: 20px;
  line-height: 30px;
}
.nav ul li a {
  color: #ffffff;
}
@media (max-width: 600px) {
  .nav {
    padding: 0;
    width: 100%;
  }
  .nav ul {
    flex-wrap: wrap;
  }
  .nav ul li {
    border: 1px solid #ffffff;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 375px) {
  .nav {
    padding: 0;
    width: 100%;
  }
  .nav ul {
    flex-wrap: wrap;
  }
  .nav ul li {
    border: 1px solid #ffffff;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
  }
}
.logo img {
  width: 80px;
}
@media (max-width: 600px) {
  .logo img {
    padding: 12px;
  }
}
@media (max-width: 375px) {
  .logo img {
    padding: 16px;
  }
}

.footer {
  padding: 80px 12px;
  background: #aa0601;
  color: #ffffff;
  padding-top: 48px;
  padding-bottom: 32px;
}
@media (max-width: 600px) {
  .footer {
    padding-top: 0px;
    padding-bottom: 0;
  }
}
@media (max-width: 375px) {
  .footer {
    padding-top: 0px;
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .footer .container {
    width: calc(100% - 72px);
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer .container {
    max-width: 696px;
  }
}
@media (max-width: 375px) {
  .footer .container {
    width: calc(100% - 28px);
  }
}
.footer a {
  color: #ffffff;
}
.footer .top {
  width: 100%;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .footer .top {
    display: none;
  }
}
@media (max-width: 375px) {
  .footer .top {
    display: none;
  }
}

.footerNav ul li {
  margin-right: 48px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .footerNav ul li {
    margin-right: 24px;
  }
}

.socialMedia img {
  max-width: 48px;
}
@media (max-width: 768px) {
  .socialMedia img {
    max-width: 40px;
  }
}
.socialMedia ul li {
  margin-left: 32px;
}
@media (max-width: 768px) {
  .socialMedia ul li {
    margin-left: 16px;
  }
}

.mid {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 32px;
  padding-bottom: 32px;
}
.mid span {
  margin-right: 16px;
  text-align: center;
  font-size: 36px;
}
.mid p {
  font-size: 36px;
  line-height: 54px;
}
@media (max-width: 768px) {
  .mid {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .mid {
    display: none;
  }
}
@media (max-width: 375px) {
  .mid {
    display: none;
  }
}

.bottomRight li {
  font-size: 14px;
  line-height: 21px;
  margin-left: 48px;
}
@media (max-width: 600px) {
  .bottomRight ul {
    flex-direction: column;
  }
  .bottomRight ul li {
    margin-left: 0;
    margin-bottom: 8px;
  }
}
@media (max-width: 375px) {
  .bottomRight {
    width: 100%;
  }
  .bottomRight ul {
    flex-direction: column;
  }
  .bottomRight ul li {
    margin-left: 0;
    margin-bottom: 8px;
  }
}

.bottomLeft {
  font-weight: normal;
}
@media (max-width: 375px) {
  .bottomLeft {
    margin-bottom: 8px;
  }
  .bottomLeft p {
    line-height: 24px;
    font-size: 16px;
  }
}

.rwdFooter {
  display: none;
}
@media (max-width: 600px) {
  .rwdFooter {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    border-bottom: 1px solid #ffffff;
  }
  .rwdFooter ul li {
    align-items: center;
  }
  .rwdFooter ul li img {
    width: 24px;
    margin-left: 8px;
  }
  .rwdFooter ul li p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 375px) {
  .rwdFooter {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    border-bottom: 1px solid #ffffff;
    max-width: 348px;
  }
  .rwdFooter ul li {
    align-items: center;
  }
  .rwdFooter ul li img {
    width: 24px;
    margin-left: 8px;
  }
  .rwdFooter ul li p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 375px) {
  .tel span {
    width: 18px;
    height: 18px;
    margin-right: 11px;
    margin-bottom: 15px;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .email span {
    margin-bottom: 0px;
    width: 20px;
    height: 16px;
    margin-right: 11px;
  }
}

@media (max-width: 768px) {
  .bottom {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .bottom {
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: flex-start;
  }
}
@media (max-width: 375px) {
  .bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.DF {
  display: flex;
}

.FDC {
  flex-direction: column;
}

.JCSB {
  justify-content: space-between;
}

.JCFE {
  justify-content: flex-end;
}

.AIFE {
  align-items: flex-end;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.AIC {
  align-items: center;
}

.TAR {
  text-align: right;
}

.TAC {
  text-align: center;
}

.TAL {
  -moz-text-align-last: left;
       text-align-last: left;
}/*# sourceMappingURL=all.css.map */