@import "../layout/mixin";
body {
  font-family: "Noto Sans TC", sans-serif;
}

@mixin fontH3 {
  font-size: 32px;
  line-height: 48px;
}

.productPage {
  .container {
    padding-left: 12px;
    padding-right: 12px;
    ul {
      justify-content: space-around;
    }
  }
}
