@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin padToPc {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin padToMobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  @content;
}

@mixin h3 {
  font-size: 48px;
  line-height: 72px;
  color: #aa0601;
  font-style: italic;
  font-weight: 900;
}
